<div class="d-flex row">
    <div class="col-sm-3">
        <img class="detailsCrest" src="{{data.club.crestUrl}}" alt="{{data.club.shortName}}">
    </div>
    <div class="col-sm-6">
        <h1>{{data.club.name}}</h1>
        <p><strong>Address: </strong>{{data.club.address}}</p>
        <p><strong>phone: </strong>{{data.club.phone}}</p>
        <p><strong>website: </strong>{{data.club.website}}</p>
        <p><strong>email: </strong>{{data.club.email}}</p>
        <p><strong>founded: </strong>{{data.club.founded}}</p>
        <p><strong>venue: </strong>{{data.club.venue}}</p>
    </div>
    <div class="col-sm-3">
        <a href="/club/">
            <button type="button" class="btn btn-info">Back</button>
        </a>
        <a href="/club/update/{{data.club.id}}">
            <button class="btn btn-primary">Edit</button>
        </a>
        <a href="/club/delete/{{data.club.id}}">
            <button class="btn btn-danger">Delete</button>
        </a>
    </div>

</div>